ion-item{
    line-height: 0%;
    padding-bottom: 1%;
  }
  
  
  
.title{
    background-color: #f7f7f7;
    color: rgb(82,96,255);
    font-size: x-large;
    margin:2%;
    border-radius: 2%;
    text-align: center;
    line-height: 100%;
  }


ion-col{
    margin:2%;
    border-radius: 2%;
    text-align: center;
    line-height: 100%;
  }