<ion-tabs>

  <ion-tab-bar slot="bottom" color="tertiary">
    <ion-tab-button tab="league">
      <ion-icon name="trophy-outline"></ion-icon>
      <ion-label>League</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="championship">
      <ion-icon name="medal-outline"></ion-icon>
      <ion-label>championship</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>