<ion-content>
  <ion-slides>
 
    <!-- Slide 1 -->
    <ion-slide>
      <div style="justify-content: center; align-items: center;">
        <ion-text>
          <img style="padding: 5%;" src="../../assets/images/parigoladeSF.png">
          <h1>Salut à toi petit filou</h1>
          <p>Rejoins nous et paries sur la victoire de TuTur et Maximerde au tournoi de Spike Ball </p>
          <ion-button (click)="next()" fill="outline" color="tertiary">Next</ion-button>
        </ion-text>
      </div>
    </ion-slide>
 
    <!-- Slide 2 -->
    <ion-slide>
      <ion-text>
        <h1>It's Ionic!</h1>
        <p>... it shows all the basics you need!</p>
        <ion-button (click)="start()" fill="outline" color="tertiary">Start</ion-button>
      </ion-text>
    </ion-slide>
 
  </ion-slides>
</ion-content>


