ion-content {
    --background: #f7f7f7;
}

ion-slides {
    height: 100%;
}

.intro{
    margin: 4%;
    padding: 4%;
    background-color: #5260ff;
    border-radius: 4%;
    justify-content: center; 
    align-items: center;
    color: #f7f7f7;
}