<ion-header>
  <ion-toolbar color="light">
    <ion-title style="color: #5260ff;">Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="bet">
    <ion-label class="size" position="stacked"><b>Titre : </b>
      {{ bet.title }}
    </ion-label>
    <br><br>
    <ion-label class="size" position="stacked"><b>Cote : </b>
      {{ bet.betNumber }}
    </ion-label>
    <br><br>
    <ion-label class="size" position="stacked"><b>Mise : </b>
      {{ bet.set }}
    </ion-label>
    <br><br>
    <ion-label class="size ion-text-wrap" position="stacked"><b>Choix : </b>
      {{ bet.choices }}
    </ion-label>
    <br><br>
    <ion-label class="size" position="stacked"><b>Ligue : </b>
      {{ bet.league }}
    </ion-label>
  </div>
  <br><br>

  <ion-button color="tertiary" expand="full" type="button" (click)="gotoleague()">Aller à la ligue</ion-button>
</ion-content>
