<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-button (click)="logout()">   
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="tertiary">
      Parigolade
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item color="tertiary" *ngFor="let bet of bets" (click)="openBet(bet)">
      <ion-label>
        {{ bet.title }}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item color="secondary" *ngFor="let league of leagues" (click)="openLeague(league)">
      <ion-label>
        {{ league.titleLeague }}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addBet()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="addLeague()">
      <ion-icon name="add" color="danger"d></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
