<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-button (click)="logout()">   
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="tertiary" style="font-size:xx-large">
      Parigolade
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-list>
    <ion-item color="tertiary" *ngFor="let bet of bets" (click)="openBet(bet)">
      <ion-grid>
        <ion-row>
        <ion-label style="white-space: pre-wrap">
          {{ bet.title }}
        </ion-label>
        </ion-row>
        <ion-row >
          <ion-col class="items" col-4 *ngFor="let item of bet.choices.split(',')" >
            {{item}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-align-self-start">
            Cote : 
            {{ bet.betNumber}}
          </ion-col> 
          <ion-col class="ion-align-self-end">
            Mise : 
            {{ bet.set }}
          </ion-col> 
        </ion-row>
        <ion-row>
          <ion-col class="items">
            Ligue : 
            {{ bet.league }}
          </ion-col> 
        </ion-row>       
    </ion-grid>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="light" (click)="addBet()">
      <ion-icon name="add" color="tertiary" ></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
