#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-item{
  line-height: 200%;
  padding-bottom: 1%;
}



ion-col{
  color:#f7f7f7;
  margin:2%;
  border-radius: 2%;
  text-align: center;
  line-height: 100%;
}

.items{
  background-color: #f7f7f7;
  color: rgb(82,96,255);
  margin:2%;
  border-radius: 2%;
  text-align: center;
  line-height: 100%;
}

:root {
  --ion-color-light: #f7f7f7;
	--ion-color-light-rgb: 247,247,247;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d9d9d9;
	--ion-color-light-tint: #f8f8f8;
}
